 /* Images in Ubytovanie and Aktivity a Relax */
.member-block-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Rezervujte si svoj pobyt */
.events-section .container {
  padding-left: 32px;
  padding-right: 32px;
}

/* Info pop up button */
.zem-info-btn {
  background-color: #3D405B;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}
.zem-info-btn:hover { background-color: #81B29A; }

/* Pop up styles page */
.zem-popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.zem-popup-overlay.active { display: flex; }

.zem-popup {
  background: #fff;
  max-width: 780px;
  width: 90%;
  padding: 30px;
  border-radius: 12px;
  position: relative;
  font-size: 16px;
}

/* Info pop up text */
.zem-popup h2 { color: #2f6f62; margin-top: 0;}
.zem-popup h4 { margin-top: 18px; font-size: 20px;}
.zem-popup p {
  font-size: 16px; /* menší odsek */
}

/* Info pop up close button */
.zem-close {
  position: absolute;
  top: 12px;
  right: 14px;
  cursor: pointer;
  color: #999;
  font-size: 30px;
}

/* Info pop up icons*/
.offers-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 12px 24px;
  margin-top: 16px;
}

.offer-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  color: #333;
}

.offer-item {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.offer-text {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
}

.offer-title {
  font-weight: 500;
  font-size: 15.5px;
}

.offer-text small {
  color: #6c757d;
  font-size: 13.5px;
}

.offers-list.unavailable .offer-icon {
  opacity: 0.35;
  filter: grayscale(100%);
}

.offers-list.unavailable i {
  opacity: 0.35;
}

.offer-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.offer-item i {
  font-size: 18px;
}

.offers-list.unavailable .offer-item {
  color: #999;
  text-decoration: line-through;
}

.offers-list.unavailable i {
  color: #bbb;
}

@media (max-width: 576px) {
  .offers-list {
    grid-template-columns: 1fr;
  }
}

/* Dvojstĺpcový zoznam s bullet points */
.columns .column ul li {
  font-size: 16px; /* menší text v zozname */
}
 
.columns {
  display: flex;
  gap: 40px; /* vzdialenosť medzi stĺpcami */
  flex-wrap: wrap; /* aby sa stĺpce zalamovali na menších obrazovkách */
}

.columns .column ul {
  list-style: none; /* odstráni pôvodné bulletky */
  padding: 0;
}

.columns .column ul li {
  position: relative;
  padding-left: 25px; /* miesto pre šípku */
  margin-bottom: 8px;
}

.columns .column ul li::before {
  content: "-"; /* šípka ako bullet */
  position: absolute;
  left: 0;
  font-size: 16px; 
}

.column {
  flex: 1; /* každý stĺpec zaberie rovnakú šírku */
  min-width: 250px; /* zabráni príliš úzkym stĺpcom */
}